* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
*.exe binary
*.msi binary
*.dmg binary
*.AppImage binary
*.deb binary
