@font-face {
  font-family: "iconfont"; /* Project id 5214392 */
  src: url('iconfont.woff2?t=1784692062012') format('woff2'),
       url('iconfont.woff?t=1784692062012') format('woff'),
       url('iconfont.ttf?t=1784692062012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-7Z:before {
  content: "\e600";
}

.icon-HTML:before {
  content: "\e601";
}

.icon-TXT:before {
  content: "\e602";
}

.icon-PDF:before {
  content: "\e603";
}

.icon-MP4:before {
  content: "\e604";
}

.icon-AVI:before {
  content: "\e605";
}

.icon-DOCX:before {
  content: "\e606";
}

.icon-MP3:before {
  content: "\e607";
}

.icon-MOV:before {
  content: "\e608";
}

.icon-JPG:before {
  content: "\e609";
}

.icon-JS:before {
  content: "\e60a";
}

.icon-JSON:before {
  content: "\e60b";
}

.icon-CSS:before {
  content: "\e60c";
}

.icon-SVG:before {
  content: "\e60d";
}

.icon-GIF:before {
  content: "\e60e";
}

.icon-XML:before {
  content: "\e60f";
}

.icon-CSV:before {
  content: "\e610";
}

.icon-PNG:before {
  content: "\e611";
}

.icon-PPTX:before {
  content: "\e612";
}

.icon-ZIP:before {
  content: "\e613";
}

.icon-XLSX:before {
  content: "\e614";
}

.icon-MD:before {
  content: "\e615";
}

.icon-WAV:before {
  content: "\e616";
}

.icon-WEBP:before {
  content: "\e617";
}

.icon-RAR:before {
  content: "\e618";
}

.icon-PSD:before {
  content: "\e619";
}

.icon-AI:before {
  content: "\e61a";
}

.icon-APK:before {
  content: "\e61b";
}

.icon-AVIF:before {
  content: "\e61c";
}

.icon-APPX:before {
  content: "\e61d";
}

.icon-CHM:before {
  content: "\e61e";
}

.icon-DJVU:before {
  content: "\e61f";
}

.icon-CAB:before {
  content: "\e620";
}

.icon-EPUB:before {
  content: "\e621";
}

.icon-DWG:before {
  content: "\e622";
}

.icon-DEB:before {
  content: "\e623";
}

.icon-BLEND:before {
  content: "\e624";
}

.icon-DAE:before {
  content: "\e625";
}

.icon-INDD:before {
  content: "\e626";
}

.icon-IPA:before {
  content: "\e627";
}

.icon-DMG:before {
  content: "\e628";
}

.icon-CDR:before {
  content: "\e629";
}

.icon-DXF:before {
  content: "\e62a";
}

.icon-DB:before {
  content: "\e62b";
}

.icon-AZW3:before {
  content: "\e62c";
}

.icon-MSI:before {
  content: "\e62d";
}

.icon-GLB:before {
  content: "\e62e";
}

.icon-OGG:before {
  content: "\e62f";
}

.icon-HEIC:before {
  content: "\e630";
}

.icon-FLAC:before {
  content: "\e631";
}

.icon-ODS:before {
  content: "\e632";
}

.icon-FIG:before {
  content: "\e633";
}

.icon-FBX:before {
  content: "\e634";
}

.icon-SKETCH:before {
  content: "\e635";
}

.icon-TOML:before {
  content: "\e636";
}

.icon-MKV:before {
  content: "\e637";
}

.icon-IPYNB:before {
  content: "\e638";
}

.icon-ODT:before {
  content: "\e639";
}

.icon-ISO:before {
  content: "\e63a";
}

.icon-STL:before {
  content: "\e63b";
}

.icon-TEX:before {
  content: "\e63c";
}

.icon-HDF5:before {
  content: "\e63d";
}

.icon-WASM:before {
  content: "\e63e";
}

.icon-YAML:before {
  content: "\e63f";
}

.icon-MOBI:before {
  content: "\e640";
}

.icon-SRT:before {
  content: "\e641";
}

.icon-TIFF:before {
  content: "\e642";
}

.icon-OBJ:before {
  content: "\e643";
}

.icon-PARQUET:before {
  content: "\e644";
}

.icon-OPUS:before {
  content: "\e645";
}

.icon-SQLITE:before {
  content: "\e646";
}

.icon-JAR:before {
  content: "\e647";
}

.icon-RPM:before {
  content: "\e648";
}

.icon-VTT:before {
  content: "\e649";
}

.icon-RAW:before {
  content: "\e64a";
}

.icon-ODP:before {
  content: "\e64b";
}

.icon-SQL:before {
  content: "\e64c";
}

.icon-STEP:before {
  content: "\e64d";
}

